<!doctype html>
<html lang="en">
  <head>
    <link href="/assets/main.css" rel="stylesheet" />
    <link href="/assets/waxen.css" rel="stylesheet" />
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Allow any inheriting page to set it's own title -->
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <!-- htmx from the unpkg CDN - your mileage may vary -->
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.6/dist/cdn.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/12.0.0/marked.min.js" integrity="sha512-tjg8I2d6Fi0OBGz1csmr7RfI4uupYaCfL/RqhVRTS42RMGwfBsjwBGmhzhI+e2dPmyew8cFkoxnVkGvADDLvbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="/assets/main.js"></script>
    <script type="module" src="/assets/js/md.js"></script>

    <!-- Allow any inheriting page to extend head with additional assets -->
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
   <li>
        <details>
          <summary>thoughts</summary>
          <ul class="p-2">
            <li><a>philosophy</a></li>
            <li><a>poetry</a></li>
            <li><a>misc.</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>lyrical</summary>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>icarus</summary>
          <ul class="p-2">
            <li><a>docs</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </details>
      </li>
    </ul>
    </div>
    <a class="btn btn-ghost text-xl">Icarus</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <details>
          <summary>thoughts</summary>
          <ul class="p-2">
            <li><a>philosophy</a></li>
            <li><a>poetry</a></li>
            <li><a>social</a></li>
            <li><a>misc.</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>notes</summary>
          <ul class="p-2">
      <li>
        <details>
          <summary>theology</summary>
          <ul class="p-2">
            <li><a>islam</a></li>
            <li><a>christianity</a></li>
            <li><a>other</a></li>
          </ul>
        </details>
      </li>

      <li>
        <details>
          <summary>history</summary>
          <ul class="p-2">
            <li><a>europe</a></li>
            <li><a>britain</a></li>
            <li><a>other</a></li>
          </ul>
        </details>
      </li>
            <li><a>art</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>icarus</summary>
          <ul class="p-2">
            <li><a>docs</a></li>
            <li><a>mechanical notes</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
  <div class="navbar-end mr-8">
    <div class="tooltip tooltip-bottom" data-tip="No issues">
    <button class="btn btn-circle btn-success btn-sm"></button>
  </div>
  </div>
</div>
    <div class="min-h-screen flex">
      <div id="page-content" class="w-full container flex flex-wrap place-items-center">
          {% block content %}{% endblock %}
      </div>
    </div>
</body>


</html>
